<div class="form-container">
    <fieldset>
    <form action="/auth/login" method="POST" class="grid-form">
        <label for="username">Identifiant</label>
        <input type="text" name="username" id="">

        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="">

        <button type="submit" class="search-button">Se connecter</button>
    </form>
</fieldset>
</div>