<div class="form-container">
    <fieldset>
        <form action="/auth/register" method="POST" class="grid-form">
            <label for="username">Identifiant</label>
            <input type="text" name="username" id="">

            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="">

            <button type="submit" class="search-button">S’inscrire</button>
        </form>
    </fieldset>
</div>