<% const roleNames = new Map([[1, "Administrateur"], [2, "Superviseur"], [3, "Utilisateur"], [4, "Invité"]]); %>
<h1>Profil de <%= user.username %></h1>
<p>Nom d'utilisateur : <%= user.username %></p>
<p>Rôle : <%= roleNames.get(user.role) %></p>