<!DOCTYPE html>
<html>
  <head>
    <title>Modifier l'utilisateur <%= member.username %></title>
  </head>
  <body>
    <h1>Modifier l'utilisateur <%= member.username %></h1>
    <form method="POST" action="/admin/<%= member._id %>/edit?_method=PUT">
      <label for="username">Nom d'utilisateur</label>
      <input type="text" name="username" id="username" value="<%= member.username %>">

      <label for="password">Mot de passe</label>
      <input type="password" name="password" id="password" value="">

      <label for="role">Rôle</label>
      <select name="role" id="role">
        <option value="2" <% if (member.role === 2) { %>selected<% } %>>Superviseur</option>
        <option value="3" <% if (member.role === 3) { %>selected<% } %>>Utilisateur</option>
        <option value="4" <% if (member.role === 4) { %>selected<% } %>>Invité</option>
      </select>

      <input type="submit" value="Enregistrer">
    </form>
  </body>
</html>