<h2>Administration</h2>

<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Rôle</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% members.forEach(function(member) { %>
            <% if (member.role > 1 ) { %>

                <tr>
                    <td>
                        <%= member.username %>
                    </td>
                    <td>
                        <%= member.role %>
                    </td>
                    <td><a href="/admin/<%= member._id %>/edit">Modifier</a></td>
                    <td>
                        <form method="POST" action="/admin/<%= member._id %>/delete?_method=DELETE">
                            <input type="hidden" name="role" value="<%= member.role %> ">
                            <button type="submit" class="btn-sup">Supprimer</button>
                        </form>
                    </td>
                </tr>
                <% } %>
                    <% }); %>
    </tbody>
</table>