<% if (typeof errorMessage !=='undefined' ) { %>

    <div class="message">
        <%= errorMessage %>
    </div>

    <% } %>

        <% if (typeof successMessage !=='undefined' ) { %>
            
            <div class="message">
                <%= successMessage %>
            </div>

            <% } %>