<header>
    <button id="dark-mode-toggle" class="dark-mode-toggle">
        <svg width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 496">
            <path fill="currentColor"
                d="M8,256C8,393,119,504,256,504S504,393,504,256,393,8,256,8,8,119,8,256ZM256,440V72a184,184,0,0,1,0,368Z"
                transform="translate(-8 -8)" />
        </svg>
    </button>
    <div class="home"><a href="/">
            <h1>Accueil</h1>
        </a></div>
    <nav>
        <% if (user) { %>
            <a href="/auth/show/<%= user._id.toString() %> " class="nav-item">Profil</a>
            <a href="/auth/logout" class="nav-item">Se déconnecter</a>

            <% if (user.role <=2 ) { %>
                <hr>
                <a href="/admin" class="nav-item">Administration</a>

                <% } %>

                    <% } else { %>
                        <a href="/auth/register" class="nav-item">S’inscrire</a>
                        <a href="/auth/login" class="nav-item">Se connecter</a>
                        <% } %>
                            <hr>
                            <a href="/formations" class="nav-item">Formations</a>
                            <a href="/formations/new" class="nav-item">Nouvelle formation</a>
                            <a href="/sessions" class="nav-item">Sessions</a>
                            <a href="/sessions/new" class="nav-item">Nouvelle session</a>

    </nav>

</header>