<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/main.css">

    <title>FormManage</title>
</head>

<body>

    <%- include('../partials/header.ejs') %>

        <main class="main-content">

            <%- include('../partials/errorMessage.ejs') %>

                <%- body %>

        </main>

        <script src="/js/script.js"></script>
</body>

</html>