<h2>Sessions récemment créées : </h2>

<div class="cards-container">
    <% sessions.forEach(session=> { %>
        <div class="card accent">
            <div class="card-body">
                <a href="/sessions/<%= session.id %>" class="session-flyer">
                    <img src="<%= session.flyerPath %>" alt="Dépliant de la session" style="width:100%">
                </a>
                <h3 class="">
                    <%= session.title %>
                </h3>
                <p>
                    <%= session.description %>
                </p>
            </div>
        </div>
        <% }) %>
</div>