$background-light: #FFF8E1;
$text-light: #333333;
$background-dark: #333333;
$text-dark: #FFF8E1;
$accent-light: #ffa07a; // Saumon clair
$accent-dark: #8fbc8f; // Vert mousse
$accent-btn-sup: #FF6B6B;

$theme-mode: light; // Par défaut, mode clair
