@font-face {
    font-family: 'Luciole';
    src: url('/fonts/Luciole-Bold.woff2') format('woff2'),
        url('/fonts/Luciole-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Luciole';
    src: url('/fonts/Luciole-BoldItalic.woff2') format('woff2'),
        url('/fonts/Luciole-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Luciole';
    src: url('/fonts/Luciole-Regular.woff2') format('woff2'),
        url('/fonts/Luciole-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Luciole';
    src: url('/fonts/Luciole-Italic.woff2') format('woff2'),
        url('/fonts/Luciole-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

