@use "../abstracts/colors" as a;

@mixin theme-reversible($background, $text, $accent) {
  background-color: $background;
  color: $text;

  header {
    background-color: $accent;
  }

  a,
  hr {
    color: $text;
  }

  .card {
    background-color: $background;
    color: $text;

    &.accent {
      background-color: $accent;
    }

    &:hover {
      background-color: darken($accent, 5%);
    }

    .card-body {
      h3,
      p {
        color: $text;
      }
    }
  }

  form {
    input[type="text"],
    input[type="number"],
    input[type="date"],
    input[type="password"],
    select,
    textarea {
      background-color: $background; /* Couleur de fond */
      color: $text; /* Couleur du texte */
      border-color: $text;
    }
  }

  form > a:not(.btn-sup),
  form > button:not(.btn-sup),
  td > a,
  .card a:not(.session-flyer),
  .session-options > a {
    background-color: $accent;
    color: $text;
    &:hover {
      background-color: lighten($accent, 10%);
    }
  }

  .card a:not(.session-flyer), .card button:not(.btn-sup) {
    background-color: darken($accent, 15%);
  }

}

@keyframes cardAnimation {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
