@font-face {
  font-family: "Luciole";
  src: url("/fonts/Luciole-Bold.woff2") format("woff2"), url("/fonts/Luciole-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Luciole";
  src: url("/fonts/Luciole-BoldItalic.woff2") format("woff2"), url("/fonts/Luciole-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Luciole";
  src: url("/fonts/Luciole-Regular.woff2") format("woff2"), url("/fonts/Luciole-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Luciole";
  src: url("/fonts/Luciole-Italic.woff2") format("woff2"), url("/fonts/Luciole-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
:root {
  font-family: "Luciole";
  font-size: 0.9rem;
}

@keyframes cardAnimation {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
  line-height: 1.45;
  display: flex;
  flex-wrap: wrap;
  background-color: #FFF8E1;
  color: #333333;
}
body header {
  background-color: #ffa07a;
}
body a,
body hr {
  color: #333333;
}
body .card {
  background-color: #FFF8E1;
  color: #333333;
}
body .card.accent {
  background-color: #ffa07a;
}
body .card:hover {
  background-color: #ff8e61;
}
body .card .card-body h3,
body .card .card-body p {
  color: #333333;
}
body form input[type=text],
body form input[type=number],
body form input[type=date],
body form input[type=password],
body form select,
body form textarea {
  background-color: #FFF8E1; /* Couleur de fond */
  color: #333333; /* Couleur du texte */
  border-color: #333333;
}
body form > a:not(.btn-sup),
body form > button:not(.btn-sup),
body td > a,
body .card a:not(.session-flyer),
body .session-options > a {
  background-color: #ffa07a;
  color: #333333;
}
body form > a:not(.btn-sup):hover,
body form > button:not(.btn-sup):hover,
body td > a:hover,
body .card a:not(.session-flyer):hover,
body .session-options > a:hover {
  background-color: #ffc4ad;
}
body .card a:not(.session-flyer), body .card button:not(.btn-sup) {
  background-color: #ff692e;
}

a {
  text-decoration: none;
}

.message {
  margin: 1rem 0 0.5rem 0;
  text-align: center;
}

.darkmode {
  background-color: #333333;
  color: #FFF8E1;
}
.darkmode header {
  background-color: #8fbc8f;
}
.darkmode a,
.darkmode hr {
  color: #FFF8E1;
}
.darkmode .card {
  background-color: #333333;
  color: #FFF8E1;
}
.darkmode .card.accent {
  background-color: #8fbc8f;
}
.darkmode .card:hover {
  background-color: #7fb27f;
}
.darkmode .card .card-body h3,
.darkmode .card .card-body p {
  color: #FFF8E1;
}
.darkmode form input[type=text],
.darkmode form input[type=number],
.darkmode form input[type=date],
.darkmode form input[type=password],
.darkmode form select,
.darkmode form textarea {
  background-color: #333333; /* Couleur de fond */
  color: #FFF8E1; /* Couleur du texte */
  border-color: #FFF8E1;
}
.darkmode form > a:not(.btn-sup),
.darkmode form > button:not(.btn-sup),
.darkmode td > a,
.darkmode .card a:not(.session-flyer),
.darkmode .session-options > a {
  background-color: #8fbc8f;
  color: #FFF8E1;
}
.darkmode form > a:not(.btn-sup):hover,
.darkmode form > button:not(.btn-sup):hover,
.darkmode td > a:hover,
.darkmode .card a:not(.session-flyer):hover,
.darkmode .session-options > a:hover {
  background-color: #afcfaf;
}
.darkmode .card a:not(.session-flyer), .darkmode .card button:not(.btn-sup) {
  background-color: #5f9f5f;
}

header {
  flex: 1 1 20%;
  min-width: 300px;
  padding: 3em;
}

.home {
  text-transform: uppercase;
  margin-bottom: 2em;
}
.home a {
  text-decoration: none;
  color: inherit;
}
@media (min-width: 1500px) {
  .home {
    margin-bottom: 5em;
  }
}

form > a,
form > button,
td > a,
.card a,
.session-options a {
  display: inline-block;
  padding: 0.5rem 0.25rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin: 0.25rem 0;
}

.btn-sup {
  background-color: #FF6B6B;
}
.btn-sup:hover {
  background-color: #ff9e9e;
}

.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 1em;
  right: 1em;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.nav-item {
  font-size: 1.7rem;
  display: inline-block;
  margin-right: 2em;
  /*  &.active {
      color: a.$menu-active-color;
    } */
}
@media (min-width: 1500px) {
  .nav-item {
    display: block;
    margin: 4vh 0;
  }
}

.main-content {
  padding: 0 5% 10%;
  flex: 1 1 80%;
  min-height: 100vh;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
  grid-gap: 2vw;
  margin-top: 1rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  opacity: 0;
  animation: cardAnimation 1s ease-in-out forwards;
}
.card .card-body {
  padding: 16px;
}
.card .card-body h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}
.card .card-body p {
  font-size: 16px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.grid-form {
  width: 70%;
  display: grid;
  grid-template-columns: [labels] auto [controls] 1fr;
  grid-auto-flow: row;
  grid-gap: 0.8em;
  padding: 1.2em;
}

.search-button {
  grid-column: span 2;
}

@media (max-width: 800px) {
  .grid-form {
    width: auto;
    grid-template-columns: 1fr;
  }
  .grid-form .search-button {
    grid-column: auto;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
}

th,
td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  border: 1px solid;
}

th {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  th {
    text-align: center;
  }
  td {
    text-align: left;
    border: none;
    position: relative;
    padding-left: 50%;
  }
  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 10px;
    font-weight: bold;
    text-align: left;
  }
}
@media only screen and (min-width: 600px) {
  table {
    width: 50%;
  }
}
.session-container {
  display: flex;
  flex-direction: column;
}
.session-container .session-flyer {
  height: 15rem;
  width: 15rem;
}
.session-container .session-flyer img {
  height: 100%;
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.session-container .session-form-title,
.session-container .session-action-number,
.session-container .session-start,
.session-container .session-end {
  margin-bottom: 10px;
}/*# sourceMappingURL=main.css.map */