<label for="">Nom de la session</label>
<input type="text" name="title" id="" value="<%= item.title %>">

<label for="">Formation</label>

<select name="formation" id="">

    <% items.forEach(formation=> { %>

        <% if (formation.id===item.formation) { %>

            <option selected label="<%= formation.title %>" value="<%= formation.id %>">

                <% } else { %>

            <option label="<%= formation.title %>" value="<%= formation.id %>">

                <% } %>

                    <% }) %>

</select>

<label for="">Numéro d’action</label>
<input type="text" name="actionNumber" id="" value="<%= item.actionNumber %>">

<label for="">Début de la session</label>
<input type="date" name="sessionStart" id="" value="<%= item.sessionStart == null ? '' : 
    item.sessionStart.toISOString().split('T')[0] %>">
<!-- Sépare date et heure par T et récupère la première partie (index 0) -->

<label for="">Fin de la session</label>
<input type="date" name="sessionEnd" id="" value="<%= item.sessionEnd == null ? '' : 
    item.sessionEnd.toISOString().split('T')[0] %>">

<label for="">Dépliant</label>
<input type="file" name="image" id="">


<label for="description">Description</label>
<textarea name="description" id=""><%= item.description %></textarea>