<h2>Modification de la Session</h2>
<div class="form-container">
    <form action="/sessions/<%= item.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="grid-form">
        <!-- Permet d’envoyer des fichiers -->
        <%- include('_form') %>
            <a href="/sessions">Annuler</a>
            <button type="submit">Valider</button>
    </form>
</div>