<h2>Liste des Sessions</h2>
<div class="form-container">
    <form action="/sessions" method="GET" class="grid-form">

        <label for="title">Nom de la session</label>
        <input type="text" name="title" id="" value="<%= searchO.title %>">

        <label for="sessionStart">Débutant après le</label>
        <input type="date" name="sessionStart" id="" value="<%= searchO.sessionStart %>">

        <label for="sessionEnd">Se terminant avant le</label>
        <input type="date" name="sessionEnd" id="" value="<%= searchO.sessionEnd %>">

        <button type="submit" class="search-button">Rechercher</button>
    </form>
</div>

<div class="cards-container">
    <% sessions.forEach(session=> { %>
        <div class="card accent">
            <div class="card-body">
                <a href="/sessions/<%= session.id %>" class="session-flyer">
                    <img src="<%= session.flyerPath %>" alt="Dépliant de la session" style="width:100%">
                </a>
                <h3 class="">
                    <%= session.title %>
                </h3>
                <p>
                    <%= session.description %>
                </p>
            </div>
        </div>
        <% }) %>
</div>