<h2>Nouvelle Session</h2>
<div class="form-container">
<form action="/sessions" method="POST" enctype="multipart/form-data" class="grid-form"> <!-- Permet d’envoyer des fichiers -->
    <%- include('_form') %> 
    <a href="/sessions" class="btn-sup">Annuler</a>
    <button type="submit">Valider</button>
</form>
</div>