<div class="session-container">
        <h2 class="session-title">
                <%= session.title %>
        </h2>
        <div class="session-flyer">
                <img src="<%= session.flyerPath %>" alt="Dépliant de la session">
        </div>
        <div class="session-form-title">Rattachée à : <%= session.formation.title %>
        </div>
        <div class="session-action-number">Numéro d’action : <%= session.actionNumber %>
        </div>
        <div class="session-start">Début : <%= session.sessionStart.toLocaleDateString("fr-FR", { weekday: "long" ,
                        year: "numeric" , month: "long" , day: "numeric" , }) %>
        </div>
        <div class="session-end">Fin : <%= session.sessionEnd.toLocaleDateString("fr-FR", { weekday: "long" ,
                        year: "numeric" , month: "long" , day: "numeric" , }) %>
        </div>
        <div class="session-options">
                <a href="/formations/<%= session.formation.id %>">Voir la Formation</a>
                <a href="/sessions/<%= session.id %>/edit" class="session-edit-btn">Modifier</a>
                <%- include('../partials/deleteForm', { url: `/sessions/${session.id}`}) %>
        </div>
</div>