@use "../abstracts/colors" as a;

form > a,
form > button,
td > a,
.card a,
.session-options a {
  display: inline-block;
  padding: 0.5rem 0.25rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin: 0.25rem 0;
}

.btn-sup {
  background-color: a.$accent-btn-sup;
  &:hover{
    background-color: lighten(a.$accent-btn-sup, 10%);
  }
}

.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 1em;
  right: 1em;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}
