.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
  grid-gap: 2vw;
  margin-top: 1rem;
}

.card {

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  opacity: 0;
  animation: cardAnimation 1s ease-in-out forwards;

  .card-body {
    padding: 16px;

    h3 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 8px;
    }

    p {
      font-size: 16px;
    }
  }
}
