.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.grid-form {
  width: 70%;
  display: grid;
  grid-template-columns: [labels] auto [controls] 1fr;
  grid-auto-flow: row;
  grid-gap: 0.8em;
  padding: 1.2em;
}

.search-button {
  grid-column: span 2;
}

@media (max-width: 800px) {
  .grid-form {
    width: auto;
    grid-template-columns: 1fr;
    & .search-button {
      grid-column: auto;
    }
  }
}
