.nav-item {

  font-size: 1.7rem;

  display: inline-block;
  margin-right: 2em;

  @media (min-width: 1500px) {
    display: block;
    margin: 4vh 0;
  }

  /*  &.active {
      color: a.$menu-active-color;
    } */
}
