.session-container {
    display: flex;
    flex-direction: column;
    .session-flyer {
      height: 15rem;
      width: 15rem;
  
      & img {
        height: 100%;
        width: 100%;
        object-fit: scale-down;
      }
    }
  
    .session-form-title,
    .session-action-number,
    .session-start,
    .session-end {
      margin-bottom: 10px;
    }
    
  }