// Tests

table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid;
  }
  
  th {
    font-weight: bold;
  }
  
  @media only screen and (max-width: 600px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
  
    th {
      text-align: center;
    }
  
    td {
      text-align: left;
      border: none;
      position: relative;
      padding-left: 50%;
    }
  
    td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 10px;
      font-weight: bold;
      text-align: left;
    }
  }
  
  @media only screen and (min-width: 600px) {
    table {
      width: 50%;
    }
  }