@use "sass:map"; // Penmet de se servir des fonctions comme get pour interagir avec les maps
@use "../abstracts" as a;

* { box-sizing: border-box; }

body {
  font-size: 1.2rem;
  line-height: 1.45;
  display: flex;
  flex-wrap: wrap;
  @include a.theme-reversible(a.$background-light, a.$text-light, a.$accent-light);
}

a {
  text-decoration: none;
}

.message {
  margin: 1rem 0 0.5rem 0;
  text-align: center;
}


.darkmode {
  $theme-mode: dark; // Activation du mode sombre
  @include a.theme-reversible(a.$background-dark, a.$text-dark, a.$accent-dark);
}
