header {
    flex: 1 1 20%;
    min-width: 300px;
    padding: 3em;
  }
  
  .home {
    text-transform: uppercase;
  
    margin-bottom: 2em;
  
    a {
      text-decoration: none;
      color: inherit;
    }
  
    @media (min-width: 1500px) {
      margin-bottom: 5em;
    }
  }