<label for="">Nom de la formation</label>
<input type="text" name="title" id="" value="<%= item.title %>">

<label for="actionType">Nature de la formation</label>
<input type="text" name="actionType" id="" value="<%= item.actionType %>">

<label for="validationType">Méthode de validation</label>
<input type="text" name="validationType" id="" value="<%= item.validationType %>">

<label for="centerTime">Durée en centre de formation</label>
<input type="number" name="centerTime" id="" value="<%= item.centerTime %>">

<label for="companyTime">Durée en entreprise</label>
<input type="number" name="companyTime" id="" value="<%= item.companyTime %>">

<label for="centerId">Numéro de centre</label>
<input type="number" name="centerId" id="" value="<%= item.center_id %>">

<label for="description">Description des compétences</label>
<textarea name="description" id=""><%= item.description %></textarea>