<h2>Modifier la Formation</h2>
<div class="form-container">
<form action="/formations/<%= item.id %>?_method=PUT" method="POST" class="grid-form">
    <%- include('_form') %> 
    <a href="/formations/<%= item.id %>">Annuler</a>
    <button type="submit">Valider</button>
</form>
</div>