<h2>Liste des formations</h2>
<div class="form-container">
    <form action="/formations" method="GET" class="grid-form">
        <label for="title">Nom de la formation</label>
        <input type="text" name="title" id="" value="<%= searchO.title %>">
        <button type="submit" class="search-button">Rechercher</button>
    </form>
</div>
<br>
<div class="cards-container">
    <% formations.forEach(formation=> { %>
        <div class="card accent">
            <div class="card-body">
                <h3>
                    <%= formation.title %>
                </h3>
                            <a href="/formations/<%= formation.id %>">Consulter</a>
                            <a href="/formations/<%= formation.id %>/edit">Modifier</a>

                            <%- include('../partials/deleteForm.ejs', { url: `/formations/${formation.id}` }) %>
                                <!-- variable url interprétée côté serveur donc syntaxe JS -->
            </div>
        </div>
        <% }) %>
</div>