<h2>Nouvelle Formation</h2>
<div class="form-container">
<form action="/formations" method="POST" class="grid-form">
    <%- include('_form') %> 
    <a href="/formations" class="btn-sup">Annuler</a>
    <button type="submit">Valider</button>
</form>
</div>