<div class="formation-container">
    <h2>
        <%= formation.title %>
    </h2>
    <a href="/formations/<%= formation.id %>/edit">Modifier</a>
    <%- include('../partials/deleteForm.ejs', { url: `/formations/${formation.id}`}) %>
</div>

<h2>Sessions de la Formation</h2>
<% if (sessionsByFormation.length> 0) { %>
    <div class="cards-container">
        <% sessionsByFormation.forEach(session=> { %>
            <div class="card accent">
                <div class="card-body">
                    <a href="/sessions/<%= session.id %>" class="session-flyer">
                        <img src="<%= session.flyerPath %>" alt="Dépliant de la session" style="width:100%">
                    </a>
                </div>
            </div>
            <% }) %>

                <% } %>
    </div>